{% extends 'AppUsers/static/AppUsers/loginBase.html' %}

{% load static %}

{% block ContenidoDinamico1 %}


<div class="titulo">
    Sesión finalizada
    <p></p>
    <img class="img-fluid rounded-circle mb-4" src="https://avatars.githubusercontent.com/u/116843946?s=400&u=91949b295a9524968148fba6ea4d66edfec1a40a&v=4" style="width: 50%"/>
</div>
    <div class="text-center my-1">
        <p class="text-black-50 mb-0">Has finalizado la sesion, recuerda que para interactuar con el blog debes iniciar sesión.</p>
    </div>

    <p style="color: black">Si no posees una cuenta, regístrate!</p>


{% endblock %}

