{% extends 'AppBlog/templates/AppBlog/base2.html' %}

{%load static %}

{% block ContenidoDinamico1%}
<header class="py-5 bg-image-full" style="background-image: url(https://c.wallhere.com/photos/bc/92/color_background_surface_solid-1097402.jpg!d)">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="https://avatars.githubusercontent.com/u/116843946?s=400&u=91949b295a9524968148fba6ea4d66edfec1a40a&v=4" style="width: 15%"/>
        <h1 class="text-white fs-1 fw-bolder"> Deja tu comentario </h1>
        <p class="text-white-50 mb-0">Agrega información complementaria, alguna opinión, lo que desees</p>
    </div>
</header>
<p>
</p>

{% endblock %}

<body>

    {% block ContenidoBody %}

    <div class="container mt-5">
        <form action="" method="POST" class="form-group"> 
            
            {% csrf_token %}
    
            <table class="table">
        
            {{miComment.as_table}}
        
            </table>
    
            <input type="submit", value="Enviar comentario", class="btn btn-primary">
    
            <p></p>
    
        </form>
    
    </div>
    
    {% endblock %}

                {% block BotonVolver %}
            <a class="btn btn-primary" href="{% url 'AppBlog:ListaPelicula' %}">Volver</a>
        </div>
    </div>
    {% endblock  %}

</body>