{% extends 'AppBlog/templates/AppBlog/base2.html' %}
{% load static %}

{% block ContenidoDinamico2  %}
<main role="main">
 <div class="album py-5 bg-light">
        <div class="container">
            <h3>{{Peliculas.titulo }}</h3>
        </div>
 </div>      
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4"></h2>
        <div>
          {{Peliculas.titulo}}
          <div class="modal-body">
            <pre>
                <code>&lt;p&gt;{{Peliculas.titulo}}...&lt;/p&gt;
                &lt;p&gt;And another line of sample text here...&lt;/p&gt;
                </code>
            </pre>

            <p> {{Peliculas.Primer_cuerpo}}
                
            </p>
          </div>
          <image src="{{ Peliculas.Segunda_imagen.url }}">
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block ContenidoBody %}


<a class="btn btn-primary" href="#">¡Deja tu comentario!</a>
<!-- COMENTARIOS PUBLICADOS-->
{% for comment in comentarios %}

<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment with nested comments-->
            <div class="d-flex mb-4">
                <div class="ms-4">
                    <div class="fw-bold mb-2">{{comment.usuario}} | {{comment.fecha}}</div>
                        <p1 class="text-muted fst-italic mb-3">{{comment.body}}</p1>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock %}

{% block BotonVolver %}
<a class="btn btn-primary" href="{% url 'AppBlog:ListaPelicula' %}">◄ Ir a la galeria</a>
</div>
</div>
{% endblock  %}