{% extends 'AppBlog\templates\AppBlog\base2.html' %}

{%load static %}

{% block ContenidoDinamico1%}
<header class="py-5 bg-image-full" style="background-image: url(https://c.wallhere.com/photos/bc/92/color_background_surface_solid-1097402.jpg!d)">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1659491673/e94swxq2fe7mdyw62mso.jpg" style="width: 15%"/>
        <h1 class="text-white fs-1 fw-bolder">Sobre mi</h1>
        <p class="text-white-50 mb-0">Informacion sobre quien soy, mi formación y la propuesta de PeliBlog</p>
    </div>
</header>
<p>
</p>

{% endblock %}

{% block ContenidoDinamico2%}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>¿Quien soy?</h2>
                <p class="lead"></p>
                <p class="mb-0">Oriundo de San Juan, Argentina, tengo 23 años, soy técnico electrónico y estudiante avanzando en Ingenieria Eléctrica en la Facultad de Ingenieria de la Universidad Nacional de San Juan. Un estudiante buscando introducirse en el ambito de la programación para poder asi complementarlos de forma en la que se requiera con la Ingenieria.</p>
                <p>Además de lo anteriormente descripto, soy músico, un amante de la música y las peliculas. De aquí surge la propuesta que planteo con este Blog.</p>
            </div>
        </div>
    </div> 
    <div class="img-container">
        <img src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1659491673/e94swxq2fe7mdyw62mso.jpg" style="width: 15%"/>
        <img class="img-fluid rounded-circle mb-4" src="" style="width: 25%"/>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Propuesta de PeliBlog</h2>
                <p class="lead"></p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
    <div class="img-container">
        <img class="img-fluid rounded-circle mb-4" src="https://avatars.githubusercontent.com/u/116843946?s=400&u=91949b295a9524968148fba6ea4d66edfec1a40a&v=4" style="width: 25%"/>

    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>¡Que disfrutes del Blog!</h2>
                <p class="lead"></p>
                <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}