{% extends 'AppBlog\templates\AppBlog\base2.html' %}

{%load static %}

{% block ContenidoDinamico1%}
<header class="py-5 bg-image-full" style="background-image: url(https://c.wallhere.com/photos/bc/92/color_background_surface_solid-1097402.jpg!d)">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1659491673/e94swxq2fe7mdyw62mso.jpg" style="width: 15%"/>
        <h1 class="text-white fs-1 fw-bolder">Sobre mi</h1>
        <p class="text-white-50 mb-0">Informacion sobre quien soy, mi formación y la propuesta de PeliBlog</p>
    </div>
</header>
<p>
</p>

{% endblock %}

{% block ContenidoDinamico2%}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>¿Quien soy?</h2>
                <p class="lead"></p>
                <p class="lead"> Oriundo de San Juan, Argentina, tengo 23 años, soy técnico electrónico y estudiante avanzando en Ingenieria Eléctrica en la Facultad de Ingenieria de la Universidad Nacional de San Juan. Un estudiante buscando introducirse en el ambito de la programación para poder asi complementarlos de forma en la que se requiera con la Ingenieria.</p>
                <p class="lead"> Además de lo anteriormente descripto, soy músico, un amante de la música y las peliculas. De aquí surge la propuesta que planteo con este Blog.</p>
            </div>
        </div>
    </div> 


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Propuesta de PeliBlog</h2>
                <p class="lead"> Se propone que los usuarios puedan compartir reseñas, opiniones, calificar, e interactuar mediante respuestas que se den en el correspondiente posteo.</p>
                <p class="lead"> PeliBlog te permite iniciar sesión o crearte un usuario para recien poder interactuar con el Blog, realizado esto cada usuario tendrá su perfil donde podra cargar su nombre, biografia, avatar y redes sociales.</p>
                <p class="lead"> Estando logueado podras dar 'Me gusta', 'No me gusta', comentar, y crear un post dando tu reseña u opinion sobre una determinada pelicula con su correspondiente información.</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>¡Que disfrutes de PeliBlog!</h2>
                <p class="lead"></p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block ContenidoDinamico5 %}

<div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" src="/media/me/1654732216155.jpg" style="width: 90%"/>
</div>



<div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" src="/media/me/83688770_1468799636628776_4168039314046391784_n.jpg" style="width: 90%"/>
</div>



<div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" src="https://avatars.githubusercontent.com/u/116843946?s=400&u=91949b295a9524968148fba6ea4d66edfec1a40a&v=4" style="width: 90%"/>
</div>

{% endblock %}