<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
    
    <head>
        {% load static %}
        
        <link rel="icon" type="image/x-icon" href="{% static 'AppUsers/assets/playicon.ico'%}" />
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Muestra de un formulario de acceso en HTML y CSS">
        <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
        <!-- Link hacia el archivo de estilos css -->

        <link href="{% static 'AppBlog/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'AppUsers/css/login.css' %}" rel="stylesheet" />
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    
    <body>
        <!-- ENCABEZADO/LOGIN-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand">Por: Alejo Delgado</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppUsers:Login' %}">Iniciar sesion</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppUsers:Register' %}">Registrarse</a></li>

                    </ul>
                </div>
            </div>
        </nav>


        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    {% block ContenidoDinamico1 %}

                    

                    {% endblock %}
                </div>
                <div class="inferior">
                    <a href="{% url 'AppBlog:Inicio' %}">Volver al Inicio</a>
                </div>
            </div>
        </div>
            
    </body>
</html>